
html{
    margin: 1.5rem;
}
/*Header*/

header div h1,h2,h3{
    
    text-align: center;
    font-size: 30px;
   
}

section{
    border: 2px solid black;
    padding: 20px;
    box-shadow: 5px 10px gray;
    border-radius: 10px;
    margin-bottom: 2rem;
}